# Arithmetics

In [2]:
2 * 2

4

In [3]:
2 / 2

1.0

In [4]:
2 ** 2

4

In [5]:
#remaining of the division
2 % 2

0

In [6]:
5 % 2

1

In [17]:
#variable assignement 
x = 2

In [18]:
print(x)

2

# Strings

In [25]:
name = "Abdessamad"

In [26]:
print(name)

Abdessamad

In [27]:
age = 22

In [28]:
print("My name is {} and my age is {}".format(name,age))

My name is Abdessamad and my age is 22

In [30]:
print("My name is {v1} and my age is {v2} and my best friend is also named {v1}".format(v1=name,v2=age))

My name is Abdessamad and my age is 22 and my best friend is also named Abdessamad

In [32]:
print(name)

Abdessamad

In [33]:
#first element of the string
name[0]

'A'

In [34]:
#last element of the string
name[-1]

'd'

In [35]:
name[:]

'Abdessamad'

In [37]:
#first three characters
name[0:3]

'Abd'

In [38]:
#we grab from the third element till we reach the fifth element in the string
name[2:5]

'des'

# Lists

In [187]:
#a list is a data structure in python wich allows to store elements in a particular order,we can store different types of items in the very same list
l = [100,54,87,100,65,155,26278,176,736]

In [135]:
smallest = min(l)
biggest = max(l)

In [136]:
print("smallest : {} , the biggest : {} ".format(smallest,biggest))

smallest : 54 , the biggest : 26278

In [169]:
#to sort a list temporarily 
print(sorted(l))
print(sorted(l,reverse=True))

[54, 65, 87, 100, 100, 155, 176, 736, 26278]
[26278, 736, 176, 155, 100, 100, 87, 65, 54]

In [183]:
#as we can see we didnt modify the list the fact that we used a function and not a method
l

[54, 65, 87, 100, 100, 155, 176, 736, 26278]

In [292]:
#to check if an element is present in a list 
100 in l

True

In [138]:
#all elements of the list 
l[:]

[100, 54, 87, 100, 65, 155, 26278, 176, 736]

In [139]:
#first two elements by slicing
l[:2]

[100, 54]

In [141]:
#the last four items
l[-4:]

[155, 26278, 176, 736]

In [43]:
["x","y","z"]

['x', 'y', 'z']

In [78]:
students = ["Abdessamad","Mehdi","Hamza"]

In [79]:
#to add an element to my list of students
students.append("Oussama")

In [80]:
students

['Abdessamad', 'Mehdi', 'Hamza', 'Oussama']

In [81]:
#now we insert an element at a certain position 
students.insert(0,"nabil")

In [82]:
students

['nabil', 'Abdessamad', 'Mehdi', 'Hamza', 'Oussama']

In [83]:
#we delete the last element from the list
del students[-1]
students

['nabil', 'Abdessamad', 'Mehdi', 'Hamza']

In [84]:
#deleting an element by the value
students.remove("nabil")

In [85]:
students

['Abdessamad', 'Mehdi', 'Hamza']

In [86]:
#popping the last element of a list
last_element = students.pop()

In [87]:
last_element

'Hamza'

In [88]:
students

['Abdessamad', 'Mehdi']

In [89]:
#lets pop the first item in the list
first_item = students.pop(0)

In [90]:
first_item

'Abdessamad'

In [91]:
students

['Mehdi']

In [93]:
music = ["jazz","pop","rap","blues"]

In [98]:
#to copy the content of a list we use the following code
music_copy=music
music_copy

['jazz', 'pop', 'rap', 'blues']

In [99]:
del music_copy[-1]

In [100]:
music_copy

['jazz', 'pop', 'rap']

In [101]:
#we can see that by modifying "the copy" of the list that we made we also modified the content of original list,lets solve this problem
music

['jazz', 'pop', 'rap']

In [102]:
music = ["jazz","pop","rap","blues"]

In [104]:
#we only copy the content of the list not the reference in memory
music_copy = music[:]
music_copy

['jazz', 'pop', 'rap', 'blues']

In [105]:
del music_copy[-1]

In [106]:
music_copy

['jazz', 'pop', 'rap']

In [143]:
#the length of a list
length = len(music_copy)
print(length)

3

In [107]:
#we can see that the variable music was not affected by the modification that we made on the variable music_copy
music

['jazz', 'pop', 'rap', 'blues']

In [108]:
#lets loop through a list 
for elements in music:
    print(elements)

jazz
pop
rap
blues

In [151]:
for elements in music:
    print("I love {}".format(elements))

I love jazz
I love pop
I love rap
I love blues

In [146]:
MUSIC = []

In [147]:
for element in music:
    MUSIC.append(element.upper())

In [148]:
MUSIC

['JAZZ', 'POP', 'RAP', 'BLUES']

In [149]:
#now we will try to get the same result using list comprehension
MUSIC_1 = [element.upper() for element in music]

In [150]:
MUSIC_1

['JAZZ', 'POP', 'RAP', 'BLUES']

In [152]:
#nested lists
nested_list = ["abdessamad","nabil",["hamza","oussama"]]

In [153]:
nested_list[0]

'abdessamad'

In [154]:
nested_list[2][0]

'hamza'

In [155]:
nested_list[2][1]

'oussama'

# Tuples

In [161]:
# A tuple is a data structure just like the list but we cannot change the values in a tuple once we created one
cities = ("Rabat","Casablanca","Fez")

In [162]:
#looping
for city in cities:
    print(city)

Rabat
Casablanca
Fez

In [166]:
#As said before we cannot modify a tuple but we can overrite the tuple
cities = ("Paris","Nice","Nancy","Rouen")
print(cities)

('Paris', 'Nice', 'Nancy', 'Rouen')

# Dictionaries

In [228]:
#dictionaries are a python's data structure that allow us to store data with the format of a key-value pair
students_marks = {"abdessamad":15,"oussama":12,"saad":18,"hamza":14}
print(students_marks)

{'abdessamad': 15, 'oussama': 12, 'saad': 18, 'hamza': 14}

In [230]:
students_marks.items()

dict_items([('abdessamad', 15), ('oussama', 12), ('saad', 18), ('hamza', 14)])

In [232]:
students_marks.keys()

dict_keys(['abdessamad', 'oussama', 'saad', 'hamza'])

In [233]:
students_marks.values()

dict_values([15, 12, 18, 14])

In [196]:
#lets retrieve values with the key
print("The mark of abdessamad is {}".format(students_marks["abdessamad"]))
print("The mark of oussama is {}".format(students_marks["oussama"]))

The mark of abdessamad is 15
The mark of oussama is 12

In [198]:
#now we retrieve values with a get
print("The mark of abdessamad is {}".format(students_marks.get("abdessamad")))
print("The mark of oussama is {}".format(students_marks.get("oussama")))
print("The mark of nabil is {}".format(students_marks.get("nabil")))

The mark of abdessamad is 15
The mark of oussama is 12
The mark of nabil is None

In [201]:
students_marks_maths_physics = {"abdessamad":[15,12],"oussama":[12,10],"saad":[18,13],"hamza":[14,8]}

In [206]:
print("The mark of abdessamad in mathematics is {}".format(students_marks_maths_physics["abdessamad"][0]))
print("The mark of oussama in mathematics is {}".format(students_marks_maths_physics["oussama"][0]))

The mark of abdessamad in mathematics is 15
The mark of oussama in mathematics is 12

In [205]:
print("The mark of abdessamad in physics is {}".format(students_marks_maths_physics["abdessamad"][1]))
print("The mark of oussama in physics is {}".format(students_marks_maths_physics["oussama"][1]))

The mark of abdessamad in physics is 12
The mark of oussama in physics is 10

In [238]:
#lets look at how we could store dictionaries in list
student_one = {"first_name":"abdessamad","last_name":"baahmed","major":"Data Engineering"}
student_two = {"first_name":"nabil","last_name":"berjaoui","major":"Ai Engineering"}

In [239]:
#we add the dictionaries to our list
students = []
students.append(student_one)
students.append(student_two)

In [242]:
#we display informations
for student in students:
    print("the student is {} {} and his major is {}".format(student["first_name"],student["last_name"],student["major"]))

the student is abdessamad baahmed and his major is Data Engineering
the student is nabil berjaoui and his major is Ai Engineering

In [243]:
for student in students:
    for k, v in student.items():
        print(f"{k}: {v}")
    print("\n")

first_name: abdessamad
last_name: baahmed
major: Data Engineering


first_name: nabil
last_name: berjaoui
major: Ai Engineering

In [245]:
students_marks = {"abdessamad":15,"oussama":12,"saad":18,"hamza":14}
print(students_marks)

{'abdessamad': 15, 'oussama': 12, 'saad': 18, 'hamza': 14}

In [246]:
#lets add some new pair key value to our dictionary 
students_marks["Driss"] = 10

In [247]:
students_marks

{'abdessamad': 15, 'oussama': 12, 'saad': 18, 'hamza': 14, 'Driss': 10}

In [249]:
#lets modify a value in our dictionary 
students_marks["Driss"] = 12
print(students_marks)

{'abdessamad': 15, 'oussama': 12, 'saad': 18, 'hamza': 14, 'Driss': 12}

In [250]:
#now lets romeve a pair of key value from our dictionary
del students_marks["Driss"]

In [251]:
print(students_marks)

{'abdessamad': 15, 'oussama': 12, 'saad': 18, 'hamza': 14}

In [255]:
#lets loop through the keys
for student in students_marks.keys():
    print("student {}".format(student))

student abdessamad
student oussama
student saad
student hamza

In [258]:
#lets loop through the values
for mark in students_marks.values():
    print("mark {}".format(mark))

mark 15
mark 12
mark 18
mark 14

In [254]:
#lets loop through the pairs key values of a dictionary 
for student,mark in students_marks.items():
    print("The mark of the student {} is {}".format(student,mark))

The mark of the student abdessamad is 15
The mark of the student oussama is 12
The mark of the student saad is 18
The mark of the student hamza is 14

In [260]:
#lets try to generate a dictionary using a loop
double_value = {}
for i in range (4):
    double_value[i]=i * 2

In [261]:
#we display 
for key,value in double_value.items():
    print(key,value)

0 0
1 2
2 4
3 6

In [264]:
#Dictionaries Comprehensions,just a more compact way to create a dictionary 
double_value = {i:i*2 for i in range(4)}

In [265]:
#we display 
for key,value in double_value.items():
    print(key,value)

0 0
1 2
2 4
3 6

# Sets

In [268]:
#a data structure that does not allow duplicates 
S = {16,15,18,19,15,19,19,19,19}
print(S)

{16, 18, 19, 15}

In [272]:
#we can use set asa function to retrieve the unique values of a list
list_unique = set([7,7,9,4,4,4,5,5,5,5,1,1,1])
print(list_unique)

{1, 4, 5, 7, 9}

In [274]:
#to add elements to our Set
S.add(10)
print(S)

{10, 15, 16, 18, 19}

# comparison operators

In [276]:
10 > 20

False

In [277]:
10 < 20

True

In [278]:
10 >= 10

True

In [279]:
10 <=10

True

In [280]:
10 == 10

True

In [281]:
10 != 10

False

In [282]:
10 != 20

True

In [283]:
"Abdessamad" != "Taha"

True

In [284]:
"Abdessamad" != "Abdessamad"

False

In [285]:
10 > 20 and 10 > 15

False

In [286]:
10 < 20 and 10 < 20

True

In [287]:
10 > 20 or 10 < 15

True

In [288]:
True and True

True

In [289]:
True and False

False

In [290]:
False and False

False

In [291]:
True or False

True

In [294]:
name

'Abdessamad'

In [293]:
# An if test 
if name == "Abdessamad":
    print("you can access the website")

you can access the website

In [311]:
name = "Taha"

In [312]:
if name=="Abdessamad" :
    print("you can access the website")
elif name =="Taha" :
    print("you can only access the library")
else :
    print("sorry you cant access the website")

you can only access the library

# Loops

In [316]:
#we repear the block of code while the condition is true
mark = 0
while mark < 10 :
    mark = mark+1
print(mark)

10

In [319]:
#for loop from a starting point 0 to the last element not inclusive
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Functions

In [324]:
# A simple first function
def welcome():
    print("Hello user")

In [325]:
welcome()

Hello user

In [339]:
#A function with an argument
def welcome(user):
    print("Hello user "+user)

In [340]:
welcome("Abdessamad")

Hello user Abdessamad

In [341]:
# A function with a default argument
def welcome(user="Stranger"):
    print("Hello user "+user)

In [342]:
welcome()

Hello user Stranger

In [344]:
welcome("Taha")

Hello user Taha

In [345]:
# A function that returns a value
def double(x):
    return x * 2

In [346]:
print(double(x))

4

# Classes

In [367]:
# A class allows us to model real life objects and define their behavior and attributes 
class Student():
    
    def __init__(self,first_name,last_name,major):
        self.first_name = first_name
        self.last_name = last_name
        self.major = major
    
    def Hello(self):
        print("My name is {} {} and im majoring in {}".format(self.first_name,self.last_name,self.major))

In [368]:
#we initialize an object using the class we just created
Student1 = Student("Abdessamad","BAHHMED","Data Engineering")

In [369]:
print(Student1.first_name,Student1.last_name,Student1.major)

Abdessamad BAHHMED Data Engineering

In [370]:
# we use the method that we created for our object
Student1.Hello()

My name is Abdessamad BAHHMED and im majoring in Data Engineering

In [383]:
# we will create a subclass of Student that will inherit from the class Student
class Business_Student(Student):
 
    def __init__(self,first_name,last_name,major):
        super().__init__(first_name,last_name,major)
    
    #we can add other methods
    def ImBusinessMajor(self):
        print("Im studying in the departement of "+self.major)

In [384]:
Student2 = Business_Student("Taha","Mouline","Business analytics")

In [385]:
Student2.Hello()

My name is Taha Mouline and im majoring in Business analytics

In [386]:
Student2.ImBusinessMajor()

Im studying int the departement of Business analytics

# user input

In [390]:
major = input("what is your major ? ")
print("Your major is "+major)

what is your major ? Data Engineering
Your major is Data Engineering

In [393]:
mark = input("Whats was your mark in the cyber security subject ? ")
#to convert from str to an integer
mark = int(mark)

Whats was your mark in the cyber security subject ?17